# Introduction to Data Science
## Homework 1: Due Midnight, March 4th. 1/3 of a Grade Deducted for each day late

Student Name: Xi Mei

Student Netid: xm518
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

### Answer_P1:
** 1. Business understanding:<br />**
The goal is prediction of female customers' pregnancy and delivery date;

** 2. Data understanding:<br />**
Considers each customer as an item of data with many attributes. Based on some relevant attribues, build a model to get the result of possiblity of pregnancy and date of delivery.

**3. Data preparation:<br />**
After their research, focus on the attributes data related to the 25 products they think is useful for their model.

**4. Modeling:<br />**
Analyze these relevant attributes data, give some weights to each product data, and  build a model, which can work out the result of possiblity of pregnancy and date of delivery of each female customer.

**5. Evaluation:<br />**
Check the fitness of this model by inviting some customers to do a questionnaire or just observing their behavior.

**6. Deployment:<br />**
Use verified model to predict female customers' pregnancy and delivery data and decide if the Target should send pregnancy products coupons or ads to them.

### Part 2: Dealing with messy data
Not all data you will deal with is going to be clean. In fact, much of it will be very messy! For example, we have the HTML page that lists the contributors to Facebook's [osquery](https://github.com/facebook/osquery) project that is hosted on [Github.com](https://github.com). In this case, all we are interested in are the contributors and how many commits each of them has. Given the HTML page in `"data/osquery_contributors.html"` you will sift through tons of irrelevant data so that you can build a useful data structure.

Notice that the first six (out of 59 total) contributors are named "theopolis", "marpaia", "javuto", "jedi22", "unixist", and "mofarrell". They have 553, 477, 104, 49, 30, 25 commits respectively.

![Screenshot](images/osquery_contributors.png)

To get a better of understanding of how this data is stored in the file, try searching through the raw data file for these usernames to look for any patterns. Your final dictionary should have 59 elements!

1\. Turn this data into a Python dictionary called `contributors` where the keys are the contributor names and the values are the number of commits that each contributor has.

In [24]:
import re

Part2Data = open(r"C:\Users\Messimx\Documents\GitHub\DataScienceCourse\ipython\hw\hw_1\data\osquery_contributors.html","r", encoding="utf8")
Part2_str= Part2Data.read()
pattern=re.compile(r'(author=)(.+)(">)(\d+)(\scommit)')

contributors = dict()
for m in re.finditer(pattern,Part2_str):
    contributors[m.group(2)]=m.group(4)
    
print(contributors)
len(contributors)

{'theopolis': '553', 'marpaia': '477', 'javuto': '104', 'jedi22': '49', 'unixist': '30', 'mofarrell': '25', 'sharvilshah': '23', 'lwhsu': '22', 'wxsBSD': '20', 'polachok': '14', 'zwass': '14', 'eastebry': '9', 'maus-': '9', 'vmauge': '8', 'astanway': '6', 'maclennann': '6', 'blakefrantz': '6', 'akshaydixi': '5', 'arirubinstein': '4', 'cdown': '4', 'deniszh': '3', 'achmiel': '3', 'brandt': '3', 'nlsun': '3', 'mimeframe': '3', 'mgoffin': '2', 'mathieuk': '2', 'ga2arch': '2', 'glensc': '2', 'jreese': '2', 'Anubisss': '2', 'timzimmermann': '2', 'jamesgpearce': '2', 'schettino72': '2', 'castrapel': '2', 'mlw': '2', 'apage43': '1', 'SimplyAhmazing': '1', 'quad': '1', 'yannick': '1', 'blackfist': '1', 'DavidGosselin': '1', 'ecin': '1', 'arubdesu': '1', 'yetanotherhacker': '1', 'rjeczalik': '1', 'larzconwell': '1', 'justintime32': '1', 'alex': '1', 'vlajos': '1', 'dreid': '1', 'kost': '1', 'mtmcgrew': '1', 'tburgin': '1', 'mark-ignacio': '1', 'shawndavenport': '1', 'jacknagz': '1', 'd0ugal': '1', 'stevenhilder': '1'}

59

### Part 3: Dealing with data Pythonically

In [2]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

In [47]:
x = np.array([0,1,1])
if (np.any(np.less(x,np.zeros(x.shape)))):
    print(-1)

In [ ]:
x = np.array([0,1,1])

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [5]:
# Place your code here
ads=pd.read_csv(r'C:\Users\Messimx\Documents\GitHub\DataScienceCourse\ipython\hw\hw_1\data\ads_dataset.tsv',header=0,names=np.arange(ads.shape[1]))
ads

NameError: name 'ads' is not defined

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [6]:
def getDfSummary(input_data):
    # Place your code here
    DF=pd.DataFrame(input_data)
    number_nan=DF.isnull().sum()
    number_distinct=pd.Series()
    for i in DF.columns:
        number_distinct[i]=len(DF[i].unique())
    output_data=DF.describe().transpose()
    output_data['number_nan']=number_nan
    output_data['number_distinct']=number_distinct
    del output_data['count']
    return output_data

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [28]:
# Place your code here
%timeit getDfSummary(ads)

10 loops, best of 3: 66.9 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [29]:
# Place your code here
getDfSummary(ads)

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,11
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

### Answer_Q4:
Since only "buy_freq" field has non-0 result in "number_nan" column, "buy_freq" field contains missing NaN values.

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [19]:
ads_nan=ads.loc[(np.isnan(ads.buy_freq))]
getDfSummary(ads_nan)

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,1
visit_freq,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,48
buy_interval,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
sv_interval,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5112
expected_time_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
expected_time_visit,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,13351
last_buy,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
multiple_visit,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4570
y_buy,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

In [31]:
#To check if when "isbuy"=0, "buy_freq"=NaN and when "isbuy"=1, "buy_freq" is a numerica data
check=1
for row in range(0,len(ads.index)):
    if np.isnan(ads.iat[row,1]):
        if ads.iat[row,0]!=0:
            check=0
    else:
        if ads.iat[row,0]!=1:
            check=0
print(check)

1

### Answer_Q5:
After we delete the rows with numeric data in "buy_freq" column, we can see some differences in the result of getDfSummary(): <br />
For "isbuyer", "buy_interval", "expected_time_buy", "multiple_buy", they change result from 2 to 1. When we review the original file of "ads", we find only "isbuy" field kind of correlates with "buy_freq". So we verify our guess by above coding. The result tell us: when "isbuy"=0, "buy_freq"=NaN and when "isbuy"=1, "buy_freq" is a numerica data, which is the pattern "buy_freq" follows.

6\. Which variables are binary?

In [32]:
# Place your code here
DF_new=getDfSummary(ads)
binarylist=list()
for i in DF_new.index:
    if DF_new.at[i,'number_distinct']==2:
        binarylist.append(i)
print(binarylist)

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']