In [1]:
import pandas as pd
dictionary=pd.read_csv("Dictionary.csv")
dictionary.head()

,Word,Sequence Number,Word Count,Word Proportion,Average Proportion,Std Dev,Doc Count,Negative,Positive,Uncertainty,Litigious,Constraining,Superfluous,Interesting,Modal,Irr_Verb,Harvard_IV,Syllables,Source
0,AARDVARK,1,81,5.690000e-09,3.070000e-09,5.780000e-07,45,0,0,0,0,0,0,0,0,0,0,2,12of12inf
1,AARDVARKS,2,2,1.400000e-10,8.220000e-12,7.840000e-09,1,0,0,0,0,0,0,0,0,0,0,2,12of12inf
2,ABACI,3,8,5.620000e-10,1.690000e-10,7.100000e-08,7,0,0,0,0,0,0,0,0,0,0,3,12of12inf
3,ABACK,4,5,3.510000e-10,1.730000e-10,7.530000e-08,5,0,0,0,0,0,0,0,0,0,0,2,12of12inf
4,ABACUS,5,1752,1.230000e-07,1.200000e-07,1.110000e-05,465,0,0,0,0,0,0,0,0,0,0,3,12of12inf

In [2]:
Negative=list(dictionary[dictionary.Negative>0]["Word"])
Positive=list(dictionary[dictionary.Positive>0]["Word"])
Uncertainty=list(dictionary[dictionary.Uncertainty>0]["Word"])
Litigious=list(dictionary[dictionary.Litigious>0]["Word"])
Constraining=list(dictionary[dictionary.Constraining>0]["Word"])
Superfluous=list(dictionary[dictionary.Superfluous>0]["Word"])
Interesting=list(dictionary[dictionary.Interesting>0]["Word"])
Modal1=list(dictionary[dictionary.Modal==1]["Word"])
Modal2=list(dictionary[dictionary.Modal==2]["Word"])
Modal3=list(dictionary[dictionary.Modal==3]["Word"])

In [4]:
from elasticsearch import Elasticsearch
es = Elasticsearch(["http://search-banktweets-oe3qkimmg7aavxn2djiwrm5bi4.us-east-1.es.amazonaws.com:80"])
res=es.search(index="banktweets", doc_type="tweets",scroll="1m",body={"from":0, "size":100, "query": {"match": {"text":"Bank of America"}}})
scrollId=res["_scroll_id"]

In [5]:
import re
dataset=[]
scrollres=es.scroll(scroll_id=scrollId,scroll="1m") 
scrollres

{'_scroll_id': 'DnF1ZXJ5VGhlbkZldGNoBQAAAAAABU4iFjNjbGhIOU1QUldDSVpqTm1BTVhfUncAAAAAAAVOIxYzY2xoSDlNUFJXQ0laak5tQU1YX1J3AAAAAAAFTiQWM2NsaEg5TVBSV0NJWmpObUFNWF9SdwAAAAAABU4lFjNjbGhIOU1QUldDSVpqTm1BTVhfUncAAAAAAAVOJhYzY2xoSDlNUFJXQ0laak5tQU1YX1J3',
 '_shards': {'failed': 0, 'successful': 5, 'total': 5},
 'hits': {'hits': [{'_id': 'AVuOqfbyQJg5hlQOPTH_',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': '#noice @ Bank of America https://t.co/BNldAwTcqu',
     'time': 1492747155000,
     'user': 'Charles Hammett'},
    '_type': 'tweets'},
   {'_id': 'AVuQ01o5QJg5hlQOPUKP',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': '@jenniespaghetty three words. bank... of.... america. -_-',
     'time': 1492783421000,
     'user': 'Daniel. üîû'},
    '_type': 'tweets'},
   {'_id': 'AVuRKy2yQJg5hlQOPUfQ',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': 'bouta step to this Bank of America ..',
     'time': 1492789177000,
     'user': 'üèöD Niceüèö'},
    '_type': 'tweets'},
   {'_id': 'AVuRZrpNQJg5hlQOPUtC',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': 'Bank Of America The Beautiful  #RuinASongWithABrand',
     'time': 1492793080000,
     'user': 'Low Key Savage'},
    '_type': 'tweets'},
   {'_id': 'AVuRqF9yQJg5hlQOPU4S',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': 'Bank of America is the worst.',
     'time': 1492797382000,
     'user': 'Joshua Jachimczyk'},
    '_type': 'tweets'},
   {'_id': 'AVuSKx7eQJg5hlQOPVgb',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': 'Really starting to dislike Bank of America',
     'time': 1492805951000,
     'user': 'GR‚àÜN'},
    '_type': 'tweets'},
   {'_id': 'AVuj3ygcQJg5hlQOPY0Q',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': 'RT @IamMonea2: Bank of America sucks üò°',
     'time': 1493102962000,
     'user': 'USA Customers'},
    '_type': 'tweets'},
   {'_id': 'AVulvo9JQJg5hlQOPaR-',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': 'Bank of America https://t.co/tNckqu9CYg',
     'time': 1493134380000,
     'user': 'ManRealty.com'},
    '_type': 'tweets'},
   {'_id': 'AVurr4SSQJg5hlQOPgJO',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': 'Bank of America? https://t.co/oRwFYlCbIq',
     'time': 1493234058000,
     'user': 'Laura La'},
    '_type': 'tweets'},
   {'_id': 'AVusJDLzQJg5hlQOPhAx',
    '_index': 'banktweets',
    '_score': 7.325703,
    '_source': {'text': '@kilee_elizabeth Bank of America is hiring',
     'time': 1493241704000,
     'user': 'samantha taylor'},
    '_type': 'tweets'},
   {'_id': 'AVt9CO05QJg5hlQOPF-5',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': "Thank god for bank of america atm's",
     'time': 1492451388000,
     'user': 'Vonnie Dulude'},
    '_type': 'tweets'},
   {'_id': 'AVt--p1IQJg5hlQOPHL0',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'Bank Of America - #photography https://t.co/rvVEOq5ppm',
     'time': 1492484005000,
     'user': 'The City Pictures'},
    '_type': 'tweets'},
   {'_id': 'AVt_YqzoQJg5hlQOPHVC',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': "Who's better pnc or Bank of America?",
     'time': 1492490824000,
     'user': 'Dion'},
    '_type': 'tweets'},
   {'_id': 'AVuAAFquQJg5hlQOPHj9',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'bofa: bank of america\ncoincidence or conspiracy?',
     'time': 1492501158000,
     'user': 'fum'},
    '_type': 'tweets'},
   {'_id': 'AVuC11EUQJg5hlQOPKoV',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'smh Bank of America üò≠ https://t.co/tBeadmoNY6',
     'time': 1492548800000,
     'user': 'Cecy C.'},
    '_type': 'tweets'},
   {'_id': 'AVuGWGWiQJg5hlQOPNHX',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'I really hate Bank of America',
     'time': 1492607591000,
     'user': 'Nola Darling'},
    '_type': 'tweets'},
   {'_id': 'AVuHnAUtQJg5hlQOPOjA',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492628800000,
     'user': 'Christine ‚ú®'},
    '_type': 'tweets'},
   {'_id': 'AVuHn_JkQJg5hlQOPOkE',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492629057000,
     'user': 'Rizzo'},
    '_type': 'tweets'},
   {'_id': 'AVuKSHnbQJg5hlQOPQfN',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'Bank of America done fucked up üòí',
     'time': 1492673657000,
     'user': 'theeB0mbüî•'},
    '_type': 'tweets'},
   {'_id': 'AVuMA3VwQJg5hlQOPRgM',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'bank-of-america-tower‚Ä§com https://t.co/aEZobWbE9h',
     'time': 1492702688000,
     'user': 'Unregistered Domains'},
    '_type': 'tweets'},
   {'_id': 'AVuMJk4yQJg5hlQOPRom',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'Saying farewell to Bank of America üò∞',
     'time': 1492704972000,
     'user': 'E Itoya'},
    '_type': 'tweets'},
   {'_id': 'AVuNG1xVQJg5hlQOPSjG',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': '@RepeatLoopK @matthwatson @egoraptor Bank of America',
     'time': 1492721031000,
     'user': 'shadows of cats'},
    '_type': 'tweets'},
   {'_id': 'AVuRMbJXQJg5hlQOPUgL',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'RT @Whitney_Kachay: I HATE BANK OF AMERICA!!!! üò°',
     'time': 1492789604000,
     'user': 'üåª'},
    '_type': 'tweets'},
   {'_id': 'AVuhXzJlQJg5hlQOPXZW',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'üòÇüòÇüòÇ "Dear Bank Of America" https://t.co/LDNvTGxf7Q',
     'time': 1493061022000,
     'user': 'BG InternZ'},
    '_type': 'tweets'},
   {'_id': 'AVuhy96RQJg5hlQOPXuj',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': 'Who the fuck uses Bank of America üòÇ',
     'time': 1493068143000,
     'user': 'Chris'},
    '_type': 'tweets'},
   {'_id': 'AVuh1ykTQJg5hlQOPXxq',
    '_index': 'banktweets',
    '_score': 7.324523,
    '_source': {'text': '@_VitaminD @Vintage_Ray lol Bank of America',
     'time': 1493068883000,
     'user': 'Marquez'},
    '_type': 'tweets'},
   {'_id': 'AVuAsjjSQJg5hlQOPHzd',
    '_index': 'banktweets',
    '_score': 7.2855725,
    '_source': {'text': 'Here comes Bank of America ‚Ä¶ https://t.co/skQfdLEz2f #america #bank #earnings #news #stock',
     'time': 1492512815000,
     'user': 'Andriy Zhmaylo'},
    '_type': 'tweets'},
   {'_id': 'AVuC8674QJg5hlQOPKwY',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/SwEoX2atEO',
     'time': 1492550659000,
     'user': 'Hamassenger.com'},
    '_type': 'tweets'},
   {'_id': 'AVuC-D1xQJg5hlQOPKxm',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/HxVGX1eqe0',
     'time': 1492550958000,
     'user': 'Metro_TV'},
    '_type': 'tweets'},
   {'_id': 'AVuDHN2_QJg5hlQOPLPf',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/ZIczHXUp97',
     'time': 1492553358000,
     'user': 'Breaking News'},
    '_type': 'tweets'},
   {'_id': 'AVuDPZ3mQJg5hlQOPLWd',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/LMAdbth6p3',
     'time': 1492555504000,
     'user': 'StechDoes'},
    '_type': 'tweets'},
   {'_id': 'AVuD6b9-QJg5hlQOPLxQ',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/meRhg8lS5B',
     'time': 1492566785000,
     'user': 'Core Exercise'},
    '_type': 'tweets'},
   {'_id': 'AVuEFZXMQJg5hlQOPL2Q',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'Bank of America Continues Bank Earnings\xa0Momentum https://t.co/AczwFIfY90',
     'time': 1492569658000,
     'user': 'Themgotalk'},
    '_type': 'tweets'},
   {'_id': 'AVuFxCWVQJg5hlQOPMeE',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/PMdY8IU7d6',
     'time': 1492597875000,
     'user': 'Video Tank'},
    '_type': 'tweets'},
   {'_id': 'AVuRt-f9QJg5hlQOPU7i',
    '_index': 'banktweets',
    '_score': 7.2780733,
    '_source': {'text': 'RT if you bank with bank of america!',
     'time': 1492798400000,
     'user': 'PRETTYBOY MCA MULAN'},
    '_type': 'tweets'},
   {'_id': 'AVt8YfQWQJg5hlQOPFeP',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Bank of America fucking me up',
     'time': 1492440445000,
     'user': 'Percy'},
    '_type': 'tweets'},
   {'_id': 'AVt81tbNQJg5hlQOPF0O',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Bank of America got me fucked up',
     'time': 1492448103000,
     'user': 'Demi Doll'},
    '_type': 'tweets'},
   {'_id': 'AVt_8ToiQJg5hlQOPHit',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @WokeEqualist: Bank of America Chinese mothafucka',
     'time': 1492500167000,
     'user': "Lil' Kims Baby"},
    '_type': 'tweets'},
   {'_id': 'AVuA87dFQJg5hlQOPISJ',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Fors meer winst voor Bank of America',
     'time': 1492517107000,
     'user': 'Handel NL üí∞'},
    '_type': 'tweets'},
   {'_id': 'AVuBHfotQJg5hlQOPIqH',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Bank of America https://t.co/20p9mEflXW',
     'time': 1492519876000,
     'user': 'Nell üëë'},
    '_type': 'tweets'},
   {'_id': 'AVuBvwDkQJg5hlQOPJqm',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'I swear I hate bank of america',
     'time': 1492530429000,
     'user': 'Hannah Baker'},
    '_type': 'tweets'},
   {'_id': 'AVuG5SgaQJg5hlQOPNzx',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Wassup, Bank of America https://t.co/NzCVBtMwyA',
     'time': 1492616816000,
     'user': 'Freddy'},
    '_type': 'tweets'},
   {'_id': 'AVuHhpgWQJg5hlQOPOdr',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492627396000,
     'user': 'jordaneuring'},
    '_type': 'tweets'},
   {'_id': 'AVuHh8zUQJg5hlQOPOeO',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492627475000,
     'user': 'lilmason1000'},
    '_type': 'tweets'},
   {'_id': 'AVuHhzQaQJg5hlQOPOd0',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492627436000,
     'user': 'Juice üîÆ'},
    '_type': 'tweets'},
   {'_id': 'AVuHp2ZcQJg5hlQOPOmG',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492629546000,
     'user': 'üìçTheYoungin'},
    '_type': 'tweets'},
   {'_id': 'AVuHwAWSQJg5hlQOPOqY',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492631160000,
     'user': 'martha'},
    '_type': 'tweets'},
   {'_id': 'AVuIA4lJQJg5hlQOPO5W',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': '@_Davieee You got Bank of America??',
     'time': 1492635584000,
     'user': 'W9'},
    '_type': 'tweets'},
   {'_id': 'AVuIEhK1QJg5hlQOPO80',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @therealkimj: i hate bank of america',
     'time': 1492636537000,
     'user': 'Phae ‚ú®'},
    '_type': 'tweets'},
   {'_id': 'AVuI6huuQJg5hlQOPPyB',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @JBthaBOSS: @IamScotty_ Bank of America then',
     'time': 1492650695000,
     'user': 'Monster ü¶á'},
    '_type': 'tweets'},
   {'_id': 'AVuQljMOQJg5hlQOPT7t',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Gonna curse Bank of America out laterüëåüèæ',
     'time': 1492779414000,
     'user': 'hunnüçØ'},
    '_type': 'tweets'},
   {'_id': 'AVuSQyKZQJg5hlQOPVq7',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Bank of America Sucks.\n Get Santander!',
     'time': 1492807524000,
     'user': 'Scott Rancourt'},
    '_type': 'tweets'},
   {'_id': 'AVuiebDHQJg5hlQOPYLw',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'I fucking hate Bank of America',
     'time': 1493079535000,
     'user': 'QueenMonee'},
    '_type': 'tweets'},
   {'_id': 'AVuiz2MyQJg5hlQOPYiV',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @N_WA_: Bank of America is trash üöÆ',
     'time': 1493085151000,
     'user': 'Raymond III'},
    '_type': 'tweets'},
   {'_id': 'AVulEKjKQJg5hlQOPZRS',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'I swear I hate Bank of America',
     'time': 1493122983000,
     'user': 'JanelleLanea'},
    '_type': 'tweets'},
   {'_id': 'AVuluW-gQJg5hlQOPaOx',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'RT @_daeijamonet: Fuck Bank of America',
     'time': 1493134044000,
     'user': 'Fuck Bank of America'},
    '_type': 'tweets'},
   {'_id': 'AVumKTdyQJg5hlQOPbIc',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Wow Bank of America is trash',
     'time': 1493141370000,
     'user': 'Dj.TK'},
    '_type': 'tweets'},
   {'_id': 'AVuqszwUQJg5hlQOPe2d',
    '_index': 'banktweets',
    '_score': 7.264968,
    '_source': {'text': 'Bank of America is some shit üôÑüòÇ',
     'time': 1493217524000,
     'user': '‚ú®GinaThaFlippa‚ú®'},
    '_type': 'tweets'},
   {'_id': 'AVuC-EQeQJg5hlQOPKxo',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/bCDLeIREPt',
     'time': 1492550959000,
     'user': 'Berkley Bear'},
    '_type': 'tweets'},
   {'_id': 'AVuDBs4ZQJg5hlQOPK_r',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/6wmkxUVAB0',
     'time': 1492551912000,
     'user': 'dotHot'},
    '_type': 'tweets'},
   {'_id': 'AVuDCtgMQJg5hlQOPLCP',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/15b7KO83AL',
     'time': 1492552177000,
     'user': 'Business Books Store'},
    '_type': 'tweets'},
   {'_id': 'AVuDGQsWQJg5hlQOPLOm',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/9SsjrqRDmz',
     'time': 1492553108000,
     'user': 'Berkley Bear'},
    '_type': 'tweets'},
   {'_id': 'AVuDKKF9QJg5hlQOPLSR',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/780ymLLgjL',
     'time': 1492554129000,
     'user': 'DotGames'},
    '_type': 'tweets'},
   {'_id': 'AVuDThjvQJg5hlQOPLZ7',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/aghGkF19Zw',
     'time': 1492556585000,
     'user': 'Core Exercise'},
    '_type': 'tweets'},
   {'_id': 'AVuDelEnQJg5hlQOPLhF',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/xdZNNnAqOU',
     'time': 1492559482000,
     'user': 'Video Tank'},
    '_type': 'tweets'},
   {'_id': 'AVuDsx5-QJg5hlQOPLo1',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/yzbmo6wWJd',
     'time': 1492563205000,
     'user': 'Trending Now'},
    '_type': 'tweets'},
   {'_id': 'AVuDtcmxQJg5hlQOPLpI',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/Fozh4Xdoc9',
     'time': 1492563380000,
     'user': 'Video Tank'},
    '_type': 'tweets'},
   {'_id': 'AVuEFZCEQJg5hlQOPL2P',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings\xa0Momentum https://t.co/bgIDZuyVLW',
     'time': 1492569657000,
     'user': 'love Tekno'},
    '_type': 'tweets'},
   {'_id': 'AVuHLlUiQJg5hlQOPOKY',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/sm89awR5wF',
     'time': 1492621611000,
     'user': 'Video Tank'},
    '_type': 'tweets'},
   {'_id': 'AVuHNQvfQJg5hlQOPOL7',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/ZIczHXUp97',
     'time': 1492622052000,
     'user': 'Breaking News'},
    '_type': 'tweets'},
   {'_id': 'AVuNTMI0QJg5hlQOPSpa',
    '_index': 'banktweets',
    '_score': 7.2479954,
    '_source': {'text': 'Bank of America is the best bank tbh',
     'time': 1492724269000,
     'user': 'Mari üëúüíÖüèΩ'},
    '_type': 'tweets'},
   {'_id': 'AVt9ey2zQJg5hlQOPGXH',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': 'RT if you bank with bank of america!',
     'time': 1492458876000,
     'user': 'PRETTYBOY MCA MULAN'},
    '_type': 'tweets'},
   {'_id': 'AVuCscqHQJg5hlQOPKeG',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': "Bank of America sucks..what's a good bank?",
     'time': 1492546341000,
     'user': 'Willü§§'},
    '_type': 'tweets'},
   {'_id': 'AVuC-FQ4QJg5hlQOPKxp',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/FlP9RhTVcq',
     'time': 1492550964000,
     'user': 'Jairo Rodriguez'},
    '_type': 'tweets'},
   {'_id': 'AVuC-oAXQJg5hlQOPKyd',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/XBw9G17nCQ',
     'time': 1492551101000,
     'user': 'Berkley Bear'},
    '_type': 'tweets'},
   {'_id': 'AVuC-thGQJg5hlQOPKyj',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/VONbIli9tU',
     'time': 1492551128000,
     'user': 'Berkley Bear'},
    '_type': 'tweets'},
   {'_id': 'AVuC_201QJg5hlQOPK0w',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/KN8AhlBXIL',
     'time': 1492551428000,
     'user': 'Berkley Bear'},
    '_type': 'tweets'},
   {'_id': 'AVuDBrwtQJg5hlQOPK_o',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/bfSMvT3kWR',
     'time': 1492551908000,
     'user': 'Maximus Overdrive TV'},
    '_type': 'tweets'},
   {'_id': 'AVuDHSL3QJg5hlQOPLPn',
    '_index': 'banktweets',
    '_score': 7.2464633,
    '_source': {'text': 'Bank of America Continues Bank Earnings Momentum https://t.co/TOZLNlKscG',
     'time': 1492553376000,
     'user': 'Business Books Store'},
    '_type': 'tweets'},
   {'_id': 'AVuDR699QJg5hlQOPLYS',
    '_index': 'banktweets',
    '_score': 7.2464633,

In [6]:
while( len(scrollres["hits"]["hits"])>0):    
    for hit in scrollres['hits']['hits']:
        neg,pos,unc,lit,con,sup,intr,mod1,mod2,mod3=0,0,0,0,0,0,0,0,0,0
        p = re.compile("[^a-zA-Z]?")
        stringArray=p.split(hit["_source"]["text"])
        for word in stringArray:
            WORD=word.upper()
            if WORD in Negative:
                neg=neg+1
            if WORD in Positive:
                pos=pos+1
            if WORD in Uncertainty:
                unc=unc+1
            if WORD in Litigious:
                lit=lit+1
            if WORD in Constraining:
                con=con+1
            if WORD in Superfluous:
                sup=sup+1
            if WORD in Interesting:
                intr=intr+1
            if WORD in Modal1:
                mod1=mod1+1
            if WORD in Modal2:
                mod2=mod2+1
            if WORD in Modal3:
                mod3=mod3+1
        array=[hit["_source"]["time"],neg,pos,unc,lit,con,sup,intr,mod1,mod2,mod3]
        dataset.append(array)
    scrollres=es.scroll(scroll_id=scrollId,scroll="1m")

E:\Study\Python\Anaconda03\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: split() requires a non-empty pattern match.

In [7]:
df=pd.DataFrame(dataset,columns=['timestamp','neg', 'pos', 'unc', 'lit', 'con','sup','intr','Mod1','Mod2','Mod3'])
df.head()

       timestamp  neg  pos  unc  lit  con  sup  intr  Mod1  Mod2  Mod3
0  1492747155000    0    0    0    0    0    0     0     0     0     0
1  1492783421000    0    0    0    0    0    0     0     0     0     0
2  1492789177000    0    0    0    0    0    0     0     0     0     0
3  1492793080000    0    1    0    0    0    0     0     0     0     0
4  1492797382000    1    0    0    0    0    0     0     0     0     0

In [8]:
from datetime import datetime
def timetransfer(ts):
    return datetime.fromtimestamp(ts/1000+600).strftime('%Y-%m-%d %H:%M:%S')
df["time"]=df["timestamp"].map(lambda t:timetransfer(t))
df.head()

,timestamp,neg,pos,unc,lit,con,sup,intr,Mod1,Mod2,Mod3,time
0,1492747155000,0,0,0,0,0,0,0,0,0,0,2017-04-21 00:09:15
1,1492783421000,0,0,0,0,0,0,0,0,0,0,2017-04-21 10:13:41
2,1492789177000,0,0,0,0,0,0,0,0,0,0,2017-04-21 11:49:37
3,1492793080000,0,1,0,0,0,0,0,0,0,0,2017-04-21 12:54:40
4,1492797382000,1,0,0,0,0,0,0,0,0,0,2017-04-21 14:06:22

In [9]:
df=df.set_index(pd.DatetimeIndex(df['time'])).sort_index().drop("timestamp",axis=1)
df["count"]=1
df=df.resample("5T").sum()
df.head()

,neg,pos,unc,lit,con,sup,intr,Mod1,Mod2,Mod3,count
time,,,,,,,,,,,
2017-04-16 18:25:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2017-04-16 18:30:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2017-04-16 18:35:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2017-04-16 18:40:00,2.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12.0
2017-04-16 18:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0

In [10]:
import pandas as pd
import numpy as np
import urllib
import datetime as dt
import matplotlib.pyplot as plt
 
def get_google_data(symbol, period, window):
    url_root = 'http://www.google.com/finance/getprices?i='
    url_root += str(period) + '&p=' + str(window)
    url_root += 'd&f=d,o,h,l,c,v&df=cpct&q=' + symbol
    response = urllib.request.urlopen(url_root)
    data = str(response.read()).split('\\n')
#actual data starts at index = 7
#first line contains full timestamp,
#every other line is offset of period from timestamp
    parsed_data = []
    anchor_stamp = ''
    end = len(data)
    for i in range(7, end):
        cdata = data[i].split(',')
        if 'a' in cdata[0]:
#first one record anchor timestamp
            anchor_stamp = cdata[0].replace('a', '')
            cts = int(anchor_stamp)
        else:
            try:
                coffset = int(cdata[0])
                cts = int(anchor_stamp) + (coffset * period)
                parsed_data.append((dt.datetime.fromtimestamp(float(cts)), float(cdata[1]), float(cdata[2]), float(cdata[3]), float(cdata[4]), float(cdata[5])))
            except:
                pass # for time zone offsets thrown into data
    df = pd.DataFrame(parsed_data)
    df.columns = ['ts', 'o', 'h', 'l', 'c', 'v']
    df.index = df.ts
    del df['ts']
    return df

In [11]:
BOA = get_google_data('BAC', 300, 14)
BOA.head()

                          o      h      l      c          v
ts
2017-04-06 09:35:00  23.080  23.19  23.02  23.14  4209683.0
2017-04-06 09:40:00  23.130  23.14  23.06  23.08  2496436.0
2017-04-06 09:45:00  23.150  23.19  23.10  23.13  3018909.0
2017-04-06 09:50:00  23.025  23.15  22.96  23.15  3508159.0
2017-04-06 09:55:00  23.170  23.18  23.02  23.02  1954324.0

In [12]:
BOA["C-O"]=BOA["c"]-BOA["o"]
def binary(v):
    if(v>0):
        return 1
    else:
        return 0
BOA["Target"]=BOA["C-O"].map(lambda t:binary(t))  
BOA.head()

                          o      h      l      c          v    C-O  Target
ts
2017-04-06 09:35:00  23.080  23.19  23.02  23.14  4209683.0  0.060       1
2017-04-06 09:40:00  23.130  23.14  23.06  23.08  2496436.0 -0.050       0
2017-04-06 09:45:00  23.150  23.19  23.10  23.13  3018909.0 -0.020       0
2017-04-06 09:50:00  23.025  23.15  22.96  23.15  3508159.0  0.125       1
2017-04-06 09:55:00  23.170  23.18  23.02  23.02  1954324.0 -0.150       0

In [13]:
BOAData=BOA.join(df,how="left").dropna().drop(["o","h","l","c","v","C-O"],axis=1)
BOAData

,Target,neg,pos,unc,lit,con,sup,intr,Mod1,Mod2,Mod3,count
ts,,,,,,,,,,,,
2017-04-17 09:40:00,1,3.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,9.0
2017-04-17 09:45:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
2017-04-17 09:50:00,0,6.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0
2017-04-17 09:55:00,0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0
2017-04-17 10:00:00,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
2017-04-17 10:05:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0
2017-04-17 10:10:00,1,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,12.0
2017-04-17 10:15:00,0,4.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,12.0
2017-04-17 10:20:00,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
2017-04-17 10:25:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
2017-04-17 10:30:00,1,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
2017-04-17 10:35:00,0,6.0,0.0,1.0,1.0,0.0,0.0,5.0,0.0,0.0,1.0,13.0
2017-04-17 10:40:00,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
2017-04-17 10:45:00,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0
2017-04-17 10:50:00,1,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,15.0
2017-04-17 10:55:00,0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
2017-04-17 11:00:00,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2017-04-17 11:05:00,0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,12.0
2017-04-17 11:10:00,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
2017-04-17 11:15:00,1,5.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,9.0
2017-04-17 11:20:00,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0
2017-04-17 11:25:00,0,3.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0
2017-04-17 11:30:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13.0
2017-04-17 11:35:00,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
2017-04-17 11:40:00,0,5.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
2017-04-17 11:45:00,1,2.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
2017-04-17 11:50:00,1,5.0,7.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0
2017-04-17 11:55:00,0,10.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0
2017-04-17 12:00:00,1,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0
2017-04-17 12:05:00,0,6.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-26 13:35:00,1,4.0,1.0,2.0,1.0,0.0,0.0,1.0,1.0,0.0,2.0,20.0
2017-04-26 13:40:00,0,3.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,280.0
2017-04-26 13:45:00,0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,20.0
2017-04-26 13:50:00,1,5.0,2.0,6.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,27.0
2017-04-26 13:55:00,0,8.0,3.0,5.0,3.0,1.0,0.0,1.0,0.0,2.0,5.0,30.0
2017-04-26 14:00:00,1,9.0,3.0,3.0,2.0,0.0,0.0,1.0,1.0,2.0,0.0,31.0
2017-04-26 14:05:00,1,3.0,2.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,31.0
2017-04-26 14:10:00,1,5.0,4.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,34.0
2017-04-26 14:15:00,0,4.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,26.0
2017-04-26 14:20:00,1,4.0,2.0,12.0,2.0,0.0,0.0,0.0,3.0,1.0,12.0,37.0
2017-04-26 14:25:00,0,4.0,5.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,2.0,25.0
2017-04-26 14:30:00,1,8.0,5.0,3.0,0.0,0.0,0.0,1.0,1.0,4.0,3.0,25.0
2017-04-26 14:35:00,0,6.0,2.0,5.0,1.0,0.0,0.0,1.0,0.0,2.0,5.0,32.0
2017-04-26 14:40:00,1,4.0,1.0,4.0,3.0,0.0,0.0,0.0,1.0,1.0,4.0,29.0
2017-04-26 14:45:00,0,7.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0,2.0,4.0,19.0
2017-04-26 14:50:00,1,5.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,32.0
2017-04-26 14:55:00,1,9.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,42.0
2017-04-26 15:00:00,1,5.0,2.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0,1.0,28.0
2017-04-26 15:05:00,0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,169.0
2017-04-26 15:10:00,0,5.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,23.0
2017-04-26 15:15:00,0,6.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,28.0
2017-04-26 15:20:00,1,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,85.0
2017-04-26 15:25:00,0,6.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,80.0
2017-04-26 15:30:00,0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,2.0,2.0,59.0
2017-04-26 15:35:00,1,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,40.0
2017-04-26 15:40:00,1,6.0,3.0,2.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,31.0
2017-04-26 15:45:00,0,4.0,3.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,34.0
2017-04-26 15:50:00,1,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,39.0
2017-04-26 15:55:00,1,6.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,49.0
2017-04-26 16:00:00,1,4.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,29.0