In [1]:
import pandas as pd
dictionary=pd.read_csv("Dictionary.csv")
dictionary.head()

,Word,Sequence Number,Word Count,Word Proportion,Average Proportion,Std Dev,Doc Count,Negative,Positive,Uncertainty,Litigious,Constraining,Superfluous,Interesting,Modal,Irr_Verb,Harvard_IV,Syllables,Source
0,AARDVARK,1,81,5.690000e-09,3.070000e-09,5.780000e-07,45,0,0,0,0,0,0,0,0,0,0,2,12of12inf
1,AARDVARKS,2,2,1.400000e-10,8.220000e-12,7.840000e-09,1,0,0,0,0,0,0,0,0,0,0,2,12of12inf
2,ABACI,3,8,5.620000e-10,1.690000e-10,7.100000e-08,7,0,0,0,0,0,0,0,0,0,0,3,12of12inf
3,ABACK,4,5,3.510000e-10,1.730000e-10,7.530000e-08,5,0,0,0,0,0,0,0,0,0,0,2,12of12inf
4,ABACUS,5,1752,1.230000e-07,1.200000e-07,1.110000e-05,465,0,0,0,0,0,0,0,0,0,0,3,12of12inf

In [2]:
Negative=list(dictionary[dictionary.Negative>0]["Word"])
Positive=list(dictionary[dictionary.Positive>0]["Word"])
Uncertainty=list(dictionary[dictionary.Uncertainty>0]["Word"])
Litigious=list(dictionary[dictionary.Litigious>0]["Word"])
Constraining=list(dictionary[dictionary.Constraining>0]["Word"])
Superfluous=list(dictionary[dictionary.Superfluous>0]["Word"])
Interesting=list(dictionary[dictionary.Interesting>0]["Word"])
Modal1=list(dictionary[dictionary.Modal==1]["Word"])
Modal2=list(dictionary[dictionary.Modal==2]["Word"])
Modal3=list(dictionary[dictionary.Modal==3]["Word"])

In [3]:
from elasticsearch import Elasticsearch
es = Elasticsearch(["http://search-banktweets-oe3qkimmg7aavxn2djiwrm5bi4.us-east-1.es.amazonaws.com:80"])
res=es.search(index="banktweets", doc_type="tweets",scroll="1m",body={"from":0, "size":100, "query": {"match": {"text":"Wells Fargo"}}})
scrollId=res["_scroll_id"]

In [4]:
import re
dataset=[]
scrollres=es.scroll(scroll_id=scrollId,scroll="1m") 
scrollres

{'_scroll_id': 'DnF1ZXJ5VGhlbkZldGNoBQAAAAAACw0ZFjNjbGhIOU1QUldDSVpqTm1BTVhfUncAAAAAAAsNGhYzY2xoSDlNUFJXQ0laak5tQU1YX1J3AAAAAAALDRsWM2NsaEg5TVBSV0NJWmpObUFNWF9SdwAAAAAACw0cFjNjbGhIOU1QUldDSVpqTm1BTVhfUncAAAAAAAsNHRYzY2xoSDlNUFJXQ0laak5tQU1YX1J3',
 '_shards': {'failed': 0, 'successful': 5, 'total': 5},
 'hits': {'hits': [{'_id': 'AVvPjuqbQJg5hlQOP5cj',
    '_index': 'banktweets',
    '_score': 3.7020044,
    '_source': {'text': 'who has wells fargo??',
     'time': 1493835901000,
     'user': 'March 23rd ♈'},
    '_type': 'tweets'},
   {'_id': 'AVvXolB7QJg5hlQOQACC',
    '_index': 'banktweets',
    '_score': 3.7020044,
    '_source': {'text': 'Fuck Wells Fargo',
     'time': 1493971390000,
     'user': 'paperchace 💸'},
    '_type': 'tweets'},
   {'_id': 'AVvXpLkPQJg5hlQOQACn',
    '_index': 'banktweets',
    '_score': 3.7020044,
    '_source': {'text': '@Nav_Yeet_Sosa Wow Wells Fargo',
     'time': 1493971548000,
     'user': 'augustine'},
    '_type': 'tweets'},
   {'_id': 'AVvYy2MyQJg5hlQOQA68',
    '_index': 'banktweets',
    '_score': 3.7020044,
    '_source': {'text': '@foulhoney wells fargo',
     'time': 1493990859000,
     'user': 'THEPLAYMAKER™'},
    '_type': 'tweets'},
   {'_id': 'AVvZ0h7rQJg5hlQOQBtp',
    '_index': 'banktweets',
    '_score': 3.7020044,
    '_source': {'text': '@Javi Remember wells fargo?',
     'time': 1494008077000,
     'user': 'Miguel Carranza'},
    '_type': 'tweets'},
   {'_id': 'AVvbKn38QJg5hlQOQCgp',
    '_index': 'banktweets',
    '_score': 3.7020044,
    '_source': {'text': 'Wells Fargo ? Chase ? Hmu 🗣✍🏾',
     'time': 1494030646000,
     'user': '👳🏾💫'},
    '_type': 'tweets'},
   {'_id': 'AVt8jZ56QJg5hlQOPFmw',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@_freedolla Wells Fargo bro',
     'time': 1492443307000,
     'user': 'Bri-Ann'},
    '_type': 'tweets'},
   {'_id': 'AVt8kp-iQJg5hlQOPFnr',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wells Fargo fucking sucks',
     'time': 1492443635000,
     'user': 'ya✨'},
    '_type': 'tweets'},
   {'_id': 'AVuCbS2IQJg5hlQOPKTH',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wells fargo hdpppppppp',
     'time': 1492541844000,
     'user': 'Brenda Baccalini'},
    '_type': 'tweets'},
   {'_id': 'AVuDf90kQJg5hlQOPLhf',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'I hate Wells Fargo',
     'time': 1492559846000,
     'user': 'rasha'},
    '_type': 'tweets'},
   {'_id': 'AVuDedluQJg5hlQOPLhB',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@nne_ojoh Wells Fargo',
     'time': 1492559452000,
     'user': '🤺'},
    '_type': 'tweets'},
   {'_id': 'AVuJHuRXQJg5hlQOPP3V',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@hernameisbanks Wells fargo',
     'time': 1492654154000,
     'user': 'Kevin Kern'},
    '_type': 'tweets'},
   {'_id': 'AVuJfO-bQJg5hlQOPQFl',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Honestly Wells Fargo sucks',
     'time': 1492660317000,
     'user': 'Regan Wells'},
    '_type': 'tweets'},
   {'_id': 'AVuLiCwbQJg5hlQOPRGf',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Done with Wells Fargo',
     'time': 1492694608000,
     'user': 'K.Cloudwalker'},
    '_type': 'tweets'},
   {'_id': 'AVuNsHexQJg5hlQOPSzb',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'i hate wells fargo',
     'time': 1492730803000,
     'user': 'Mariela🍍'},
    '_type': 'tweets'},
   {'_id': 'AVuhcBGyQJg5hlQOPXb_',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wells Fargo SUCKS ASS',
     'time': 1493062127000,
     'user': 'MOMAGER FEE'},
    '_type': 'tweets'},
   {'_id': 'AVuhi6bmQJg5hlQOPXf9',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Money bagz Wells Fargo',
     'time': 1493063935000,
     'user': 'J R'},
    '_type': 'tweets'},
   {'_id': 'AVuhuoBHQJg5hlQOPXpu',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Hate Wells Fargo! 😤🖕🏼',
     'time': 1493067005000,
     'user': 'rave booty'},
    '_type': 'tweets'},
   {'_id': 'AVuiRc9tQJg5hlQOPYFb',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@business BOYCOTT WELLS FARGO!',
     'time': 1493076135000,
     'user': 'Jules Mc'},
    '_type': 'tweets'},
   {'_id': 'AVumWsB0QJg5hlQOPbdj',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'man FUCK wells fargo',
     'time': 1493144616000,
     'user': 'Spacebitch'},
    '_type': 'tweets'},
   {'_id': 'AVum3XeRQJg5hlQOPcJ7',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wells Fargo got robbed',
     'time': 1493153183000,
     'user': 'key'},
    '_type': 'tweets'},
   {'_id': 'AVum_iRzQJg5hlQOPcUn',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@Idaniaofficial Yeap! Wells Fargo 😕😕',
     'time': 1493155324000,
     'user': 'Rose Queen'},
    '_type': 'tweets'},
   {'_id': 'AVuns8UnQJg5hlQOPdCF',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Fuck Wells Fargo',
     'time': 1493167227000,
     'user': 'Vince'},
    '_type': 'tweets'},
   {'_id': 'AVurV2SmQJg5hlQOPfaP',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@BurakAndRoll wells fargo center',
     'time': 1493228282000,
     'user': 'Fatih Emre'},
    '_type': 'tweets'},
   {'_id': 'AVuwxCRoQJg5hlQOPlTu',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@emily_mingle Wells Fargo',
     'time': 1493319295000,
     'user': 'devv💜'},
    '_type': 'tweets'},
   {'_id': 'AVu05zM8QJg5hlQOPoOo',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wtf Wells Fargo #DAMNtour',
     'time': 1493388702000,
     'user': 'chele'},
    '_type': 'tweets'},
   {'_id': 'AVu06qzxQJg5hlQOPoPo',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@DrewThe_Thang No , Wells Fargo',
     'time': 1493388930000,
     'user': '✨✨ Tandra ✨✨'},
    '_type': 'tweets'},
   {'_id': 'AVu06knFQJg5hlQOPoPh',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Boycott Wells Fargo.',
     'time': 1493388904000,
     'user': 'Patrick Kearns'},
    '_type': 'tweets'},
   {'_id': 'AVu1IJB9QJg5hlQOPofB',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '#BankerMovies \n\nWells Fargo',
     'time': 1493392461000,
     'user': 'Emmett Cassidy'},
    '_type': 'tweets'},
   {'_id': 'AVu3bxJiQJg5hlQOPp_c',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wells Fargo fucking sucks.',
     'time': 1493431161000,
     'user': '✨FINE$$E GAWDESS✨'},
    '_type': 'tweets'},
   {'_id': 'AVu55az6QJg5hlQOPqgx',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'FUCK YOU WELLS FARGO',
     'time': 1493472488000,
     'user': 'Kehmi'},
    '_type': 'tweets'},
   {'_id': 'AVu7UXcFQJg5hlQOPrOI',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'fuck wells fargo!!!',
     'time': 1493496329000,
     'user': 'روان'},
    '_type': 'tweets'},
   {'_id': 'AVu8tf_bQJg5hlQOPrx6',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@Ninernation53 wells fargo goat',
     'time': 1493519695000,
     'user': 'ace'},
    '_type': 'tweets'},
   {'_id': 'AVvAntaCQJg5hlQOPs4C',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Money bag 💰 Wells Fargo',
     'time': 1493585286000,
     'user': 'jhs❤️'},
    '_type': 'tweets'},
   {'_id': 'AVvBHIg7QJg5hlQOPtDv',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@Stephamaybe Find Wells Fargo!!',
     'time': 1493593524000,
     'user': 'Supes🌴'},
    '_type': 'tweets'},
   {'_id': 'AVvE8-R9QJg5hlQOPufi',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Still hate wells fargo',
     'time': 1493657969000,
     'user': 'cady'},
    '_type': 'tweets'},
   {'_id': 'AVvFc8qcQJg5hlQOPu06',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wells Fargo bout packed... 🤦🏾\u200d♂️',
     'time': 1493666351000,
     'user': 'Mr7-Eleven'},
    '_type': 'tweets'},
   {'_id': 'AVvGR4RoQJg5hlQOPvcp',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'i hate wells fargo',
     'time': 1493680227000,
     'user': 'E HNDRXX.🏄🏽\u200d♀️'},
    '_type': 'tweets'},
   {'_id': 'AVvGn9g-QJg5hlQOPvoK',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': "What's wells fargo.?",
     'time': 1493686015000,
     'user': 'Shanaya'},
    '_type': 'tweets'},
   {'_id': 'AVvJZ3JxQJg5hlQOPw9S',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@BlaqPrivilege Wells Fargo.',
     'time': 1493732651000,
     'user': 'Bella B.'},
    '_type': 'tweets'},
   {'_id': 'AVvJso_WQJg5hlQOPxf-',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Firing Wells Fargo 🏦❌❌❌',
     'time': 1493737574000,
     'user': 'SFG*Freddie B* '},
    '_type': 'tweets'},
   {'_id': 'AVvKNBHtQJg5hlQOPygD',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Money back, Wells Fargo',
     'time': 1493746061000,
     'user': 'MLB'},
    '_type': 'tweets'},
   {'_id': 'AVvL7vFAQJg5hlQOP1gz',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': "@crucifxz Eww 'Wells Fargo'",
     'time': 1493775085000,
     'user': 'Roy'},
    '_type': 'tweets'},
   {'_id': 'AVvMCuluQJg5hlQOP1rF',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Yo Fuck Wells Fargo',
     'time': 1493776918000,
     'user': 'S3NS'},
    '_type': 'tweets'},
   {'_id': 'AVvMN3LRQJg5hlQOP13P',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Wells Fargo baby',
     'time': 1493779837000,
     'user': 'gwop gang®'},
    '_type': 'tweets'},
   {'_id': 'AVvM75wnQJg5hlQOP2Yf',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Who got Wells Fargo ? 🤔💰💸',
     'time': 1493791906000,
     'user': 'Richie Rich ☮'},
    '_type': 'tweets'},
   {'_id': 'AVvPYYj-QJg5hlQOP5NW',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Money bag... Wells Fargo',
     'time': 1493832927000,
     'user': 'Glynn Burr'},
    '_type': 'tweets'},
   {'_id': 'AVvTnH76QJg5hlQOP9IB',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Fuck wells fargo',
     'time': 1493903900000,
     'user': 'cripwalk'},
    '_type': 'tweets'},
   {'_id': 'AVvUN32FQJg5hlQOP9p_',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@fittiewap Wells Fargo 😋',
     'time': 1493914057000,
     'user': 'Jay Hall'},
    '_type': 'tweets'},
   {'_id': 'AVvUlrPHQJg5hlQOP-Fh',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'wells fargo gmfu',
     'time': 1493920297000,
     'user': 'ＰＲＩＮＣＥＳＳ💋'},
    '_type': 'tweets'},
   {'_id': 'AVvUrgV6QJg5hlQOP-L5',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': 'Money bags 💰 wells fargo',
     'time': 1493921825000,
     'user': 'Tituson Kingin.'},
    '_type': 'tweets'},
   {'_id': 'AVvVYND4QJg5hlQOP-yY',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@NAACP Seriously? Wells Fargo????',
     'time': 1493933543000,
     'user': 'Catherine H.'},
    '_type': 'tweets'},
   {'_id': 'AVvZIjvbQJg5hlQOQBNV',
    '_index': 'banktweets',
    '_score': 3.6852133,
    '_source': {'text': '@__Call_Me_KiNG_ wells fargo 👀👀',
     'time': 1493996550000,
     'user': 'Based Boy Ashy Larry'},
    '_type': 'tweets'},
   {'_id': 'AVt8Wg3tQJg5hlQOPFcv',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuck Wells Fargo seriously 🙄',
     'time': 1492439928000,
     'user': 'kourtney 😐'},
    '_type': 'tweets'},
   {'_id': 'AVuC-6nNQJg5hlQOPKy0',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': '@HayLo9731 Wells Fargo! You?',
     'time': 1492551182000,
     'user': 'Courtney!'},
    '_type': 'tweets'},
   {'_id': 'AVuDMeeeQJg5hlQOPLUg',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'RT @TyeTanner_32: Wells Fargo....',
     'time': 1492554737000,
     'user': 'seraya.™'},
    '_type': 'tweets'},
   {'_id': 'AVuHnOQcQJg5hlQOPOjX',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'fuck wells fargo',
     'time': 1492628857000,
     'user': 'karely'},
    '_type': 'tweets'},
   {'_id': 'AVuKPm53QJg5hlQOPQeR',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': '@SarahPalinUSA WELLS FARGO BANK',
     'time': 1492672998000,
     'user': 'CARTIES'},
    '_type': 'tweets'},
   {'_id': 'AVuKWmJtQJg5hlQOPQgm',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': '@danekevincook WELLS FARGO?',
     'time': 1492674830000,
     'user': 'Jonatan Drive'},
    '_type': 'tweets'},
   {'_id': 'AVuRyFw_QJg5hlQOPVB4',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuck Wells Fargo',
     'time': 1492799478000,
     'user': 'Joey Perjanik'},
    '_type': 'tweets'},
   {'_id': 'AVuhqFRaQJg5hlQOPXk5',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Wells Fargo some shit',
     'time': 1493065814000,
     'user': 'G DINERO'},
    '_type': 'tweets'},
   {'_id': 'AVuiuFkPQJg5hlQOPYdh',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Wells Fargo sucks ass 😐',
     'time': 1493083642000,
     'user': '🤷🏾\u200d♂️'},
    '_type': 'tweets'},
   {'_id': 'AVul8IhKQJg5hlQOParn',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuck Wells Fargo',
     'time': 1493137655000,
     'user': 'altereco'},
    '_type': 'tweets'},
   {'_id': 'AVumsZQzQJg5hlQOPb6_',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Hey Wells Fargo, 🖕',
     'time': 1493150307000,
     'user': 'ANDYCROSS'},
    '_type': 'tweets'},
   {'_id': 'AVupAC6MQJg5hlQOPd68',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuckin hate Wells Fargo..🖕🏾🖕🏾',
     'time': 1493189012000,
     'user': 'Locs0fLove💜'},
    '_type': 'tweets'},
   {'_id': 'AVurWhG-QJg5hlQOPfbS',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Man fuck wells Fargo',
     'time': 1493228458000,
     'user': 'Chris'},
    '_type': 'tweets'},
   {'_id': 'AVurq1oFQJg5hlQOPgGp',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'I hate Wells Fargo',
     'time': 1493233785000,
     'user': 'Lily Baby'},
    '_type': 'tweets'},
   {'_id': 'AVur9ccUQJg5hlQOPgtd',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuck Wells Fargo!',
     'time': 1493238662000,
     'user': 'May XXVII -'},
    '_type': 'tweets'},
   {'_id': 'AVus1Qv0QJg5hlQOPiDG',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuck wells Fargo',
     'time': 1493253294000,
     'user': 'Antwan biggens'},
    '_type': 'tweets'},
   {'_id': 'AVu12dNAQJg5hlQOPpPA',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Wells fargo playing man',
     'time': 1493404603000,
     'user': 'EvanX חסידיו'},
    '_type': 'tweets'},
   {'_id': 'AVu_qf8hQJg5hlQOPsfv',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Stupid Wells Fargo 🙄',
     'time': 1493569240000,
     'user': 'Jada Phillips'},
    '_type': 'tweets'},
   {'_id': 'AVvCCQ3SQJg5hlQOPtUg',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Wells Fargo trash too 🚮',
     'time': 1493609024000,
     'user': 'Dija'},
    '_type': 'tweets'},
   {'_id': 'AVvFwfoYQJg5hlQOPvEZ',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': '"Where\'s Fargo? Wells?"\n- @princessizzbizz',
     'time': 1493671475000,
     'user': 'damon todorojo'},
    '_type': 'tweets'},
   {'_id': 'AVvHZGpMQJg5hlQOPv83',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Daleboy // Wells Fargo🤑',
     'time': 1493698898000,
     'user': '2 out of 3😍🤞🏾'},
    '_type': 'tweets'},
   {'_id': 'AVvLXw2mQJg5hlQOP0l5',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'wells fargo gijinka',
     'time': 1493765655000,
     'user': '💖team julia 💖'},
    '_type': 'tweets'},
   {'_id': 'AVvLnMJ3QJg5hlQOP06m',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuck you Wells Fargo!',
     'time': 1493769699000,
     'user': 'Yen🔜Middlelands'},
    '_type': 'tweets'},
   {'_id': 'AVvRp4p2QJg5hlQOP75L',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': '@Back9Players Wells Fargo plays??',
     'time': 1493871069000,
     'user': 'Gamblers Hotline'},
    '_type': 'tweets'},
   {'_id': 'AVve_GfeQJg5hlQOQE0W',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Fuck Wells Fargo',
     'time': 1494094735000,
     'user': 'Tavo'},
    '_type': 'tweets'},
   {'_id': 'AVvaQWJrQJg5hlQOQCAq',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Wells Fargo Championship',
     'time': 1494015369000,
     'user': 'QuilLo'},
    '_type': 'tweets'},
   {'_id': 'AVvafpLZQJg5hlQOQCJy',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Damn Wells Fargo packed',
     'time': 1494019379000,
     'user': 'TheRealTrapGoddess'},
    '_type': 'tweets'},
   {'_id': 'AVvcU16qQJg5hlQOQDGl',
    '_index': 'banktweets',
    '_score': 3.6833682,
    '_source': {'text': 'Wells Fargo Users HMU 💰🖖🏾',
     'time': 1494050102000,
     'user': '👳🏾💫'},
    '_type': 'tweets'},
   {'_id': 'AVt6_BRJQJg5hlQOPE6_',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': '@Squadelujah Wells Fargo way',
     'time': 1492416992000,
     'user': 'Desteny Marie'},
    '_type': 'tweets'},
   {'_id': 'AVt_DbQsQJg5hlQOPHNX',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': '@ohthatsLuKayy Wells Fargo ? Lol',
     'time': 1492485256000,
     'user': 'ICE❄️'},
    '_type': 'tweets'},
   {'_id': 'AVuB30zQQJg5hlQOPJyn',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': '@ashleylokks_ Wells fargo',
     'time': 1492532546000,
     'user': 'nathy'},
    '_type': 'tweets'},
   {'_id': 'AVuF3l0JQJg5hlQOPMhs',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': 'Wells Fargo be stealing 🤔',
     'time': 1492599594000,
     'user': '🔵⚪️🔴Clippers🔴⚪️🔵'},
    '_type': 'tweets'},
   {'_id': 'AVuHPGJZQJg5hlQOPONo',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': '@_ConceitedRay_ not Wells Fargo',
     'time': 1492622533000,
     'user': 'tania'},
    '_type': 'tweets'},
   {'_id': 'AVuH6qA1QJg5hlQOPO0A',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': 'Chase or Wells Fargo 🤔',
     'time': 1492633952000,
     'user': 'George J. Cruz'},
    '_type': 'tweets'},
   {'_id': 'AVuI7KYiQJg5hlQOPPyR',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': '@KingJhalifa Wells Fargo',
     'time': 1492650861000,
     'user': 'Anon'},
    '_type': 'tweets'},
   {'_id': 'AVuJJ9jwQJg5hlQOPP4R',
    '_index': 'banktweets',
    '_score': 3.6818652,
    '_source': {'text': 'Wells Fargo Dank #NewWeedDispensaryNames',
     'time': 1492654741000,
     'user': 'Jeff DeLany'},
    '_type': 'tweets'},
   {'_id': 'AVuJNm6yQJg5hlQOPP5_',
    '_index': 'banktweets',
    '_score': 3.6818652,

In [5]:
while( len(scrollres["hits"]["hits"])>0):    
    for hit in scrollres['hits']['hits']:
        neg,pos,unc,lit,con,sup,intr,mod1,mod2,mod3=0,0,0,0,0,0,0,0,0,0
        p = re.compile("[^a-zA-Z]?")
        stringArray=p.split(hit["_source"]["text"])
        for word in stringArray:
            WORD=word.upper()
            if WORD in Negative:
                neg=neg+1
            if WORD in Positive:
                pos=pos+1
            if WORD in Uncertainty:
                unc=unc+1
            if WORD in Litigious:
                lit=lit+1
            if WORD in Constraining:
                con=con+1
            if WORD in Superfluous:
                sup=sup+1
            if WORD in Interesting:
                intr=intr+1
            if WORD in Modal1:
                mod1=mod1+1
            if WORD in Modal2:
                mod2=mod2+1
            if WORD in Modal3:
                mod3=mod3+1
        array=[hit["_source"]["time"],neg,pos,unc,lit,con,sup,intr,mod1,mod2,mod3]
        dataset.append(array)
    scrollres=es.scroll(scroll_id=scrollId,scroll="1m")Wells Fargo

E:\Study\Python\Anaconda03\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: split() requires a non-empty pattern match.

In [6]:
df=pd.DataFrame(dataset,columns=['timestamp','neg', 'pos', 'unc', 'lit', 'con','sup','intr','Mod1','Mod2','Mod3'])
df.head()

       timestamp  neg  pos  unc  lit  con  sup  intr  Mod1  Mod2  Mod3
0  1493835901000    0    0    0    0    0    0     0     0     0     0
1  1493971390000    0    0    0    0    0    0     0     0     0     0
2  1493971548000    0    0    0    0    0    0     0     0     0     0
3  1493990859000    0    0    0    0    0    0     0     0     0     0
4  1494008077000    0    0    0    0    0    0     0     0     0     0

In [8]:
from datetime import datetime
def timetransfer(ts):
    return datetime.fromtimestamp(ts/1000+600).strftime('%Y-%m-%d %H:%M:%S')
df["time"]=df["timestamp"].map(lambda t:timetransfer(t))
df.head()

,timestamp,neg,pos,unc,lit,con,sup,intr,Mod1,Mod2,Mod3,time
0,1493799479000,0,0,0,0,0,0,0,0,0,0,2017-05-03 04:27:59
1,1492627326000,0,0,0,0,0,0,0,0,0,0,2017-04-19 14:52:06
2,1492646742000,0,0,0,0,0,0,0,0,0,0,2017-04-19 20:15:42
3,1492700678000,0,0,0,0,0,0,0,0,0,0,2017-04-20 11:14:38
4,1492722269000,0,0,0,0,0,0,0,0,0,0,2017-04-20 17:14:29

In [9]:
df=df.set_index(pd.DatetimeIndex(df['time'])).sort_index().drop("timestamp",axis=1)
df["count"]=1
df=df.resample("5T").sum()
df.head()

,neg,pos,unc,lit,con,sup,intr,Mod1,Mod2,Mod3,count
time,,,,,,,,,,,
2017-04-16 18:25:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2017-04-16 18:30:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2017-04-16 18:35:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2017-04-16 18:40:00,2.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12.0
2017-04-16 18:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0

In [10]:
import pandas as pd
import numpy as np
import urllib
import datetime as dt
import matplotlib.pyplot as plt
 
def get_google_data(symbol, period, window):
    url_root = 'http://www.google.com/finance/getprices?i='
    url_root += str(period) + '&p=' + str(window)
    url_root += 'd&f=d,o,h,l,c,v&df=cpct&q=' + symbol
    response = urllib.request.urlopen(url_root)
    data = str(response.read()).split('\\n')
#actual data starts at index = 7
#first line contains full timestamp,
#every other line is offset of period from timestamp
    parsed_data = []
    anchor_stamp = ''
    end = len(data)
    for i in range(7, end):
        cdata = data[i].split(',')
        if 'a' in cdata[0]:
#first one record anchor timestamp
            anchor_stamp = cdata[0].replace('a', '')
            cts = int(anchor_stamp)
        else:
            try:
                coffset = int(cdata[0])
                cts = int(anchor_stamp) + (coffset * period)
                parsed_data.append((dt.datetime.fromtimestamp(float(cts)), float(cdata[1]), float(cdata[2]), float(cdata[3]), float(cdata[4]), float(cdata[5])))
            except:
                pass # for time zone offsets thrown into data
    df = pd.DataFrame(parsed_data)
    df.columns = ['ts', 'o', 'h', 'l', 'c', 'v']
    df.index = df.ts
    del df['ts']
    return df

In [11]:
BOA = get_google_data('BAC', 300, 14)
BOA.head()

                           o      h       l       c          v
ts
2017-04-18 09:35:00  22.8975  23.15  22.885  23.130  7520432.0
2017-04-18 09:40:00  22.9300  22.99  22.870  22.895  5130022.0
2017-04-18 09:45:00  22.9750  22.99  22.930  22.935  4203378.0
2017-04-18 09:50:00  22.8950  23.01  22.890  22.975  4462407.0
2017-04-18 09:55:00  22.7900  22.89  22.785  22.890  3014132.0

In [12]:
BOA["C-O"]=BOA["c"]-BOA["o"]
def binary(v):
    if(v>0):
        return 1
    else:
        return 0
BOA["Target"]=BOA["C-O"].map(lambda t:binary(t))  
BOA.head()

                           o      h       l       c          v     C-O  Target
ts
2017-04-18 09:35:00  22.8975  23.15  22.885  23.130  7520432.0  0.2325       1
2017-04-18 09:40:00  22.9300  22.99  22.870  22.895  5130022.0 -0.0350       0
2017-04-18 09:45:00  22.9750  22.99  22.930  22.935  4203378.0 -0.0400       0
2017-04-18 09:50:00  22.8950  23.01  22.890  22.975  4462407.0  0.0800       1
2017-04-18 09:55:00  22.7900  22.89  22.785  22.890  3014132.0  0.1000       1

In [13]:
BOAData=BOA.join(df,how="left").dropna().drop(["o","h","l","c","v","C-O"],axis=1)
BOAData

,Target,neg,pos,unc,lit,con,sup,intr,Mod1,Mod2,Mod3,count
ts,,,,,,,,,,,,
2017-04-18 09:35:00,1,12.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,44.0
2017-04-18 09:40:00,0,6.0,8.0,3.0,2.0,0.0,0.0,0.0,4.0,0.0,3.0,42.0
2017-04-18 09:45:00,0,5.0,2.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,40.0
2017-04-18 09:50:00,1,3.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,46.0
2017-04-18 09:55:00,1,6.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,31.0
2017-04-18 10:00:00,0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,34.0
2017-04-18 10:05:00,1,2.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,25.0
2017-04-18 10:10:00,1,11.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,38.0
2017-04-18 10:15:00,1,5.0,5.0,0.0,1.0,0.0,0.0,0.0,4.0,1.0,0.0,28.0
2017-04-18 10:20:00,1,7.0,7.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,32.0
2017-04-18 10:25:00,0,29.0,14.0,0.0,10.0,0.0,0.0,1.0,0.0,1.0,0.0,50.0
2017-04-18 10:30:00,0,22.0,12.0,2.0,5.0,0.0,0.0,0.0,0.0,4.0,0.0,62.0
2017-04-18 10:35:00,0,10.0,1.0,1.0,3.0,0.0,0.0,0.0,1.0,1.0,1.0,28.0
2017-04-18 10:40:00,1,1.0,4.0,3.0,0.0,0.0,0.0,0.0,1.0,3.0,2.0,34.0
2017-04-18 10:45:00,0,12.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,37.0
2017-04-18 10:50:00,1,101.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,124.0
2017-04-18 10:55:00,0,4.0,6.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,41.0
2017-04-18 11:00:00,0,7.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0
2017-04-18 11:05:00,1,4.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,35.0
2017-04-18 11:10:00,0,4.0,2.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,45.0
2017-04-18 11:15:00,1,5.0,3.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,38.0
2017-04-18 11:20:00,1,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,51.0
2017-04-18 11:25:00,1,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0
2017-04-18 11:30:00,0,3.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0
2017-04-18 11:35:00,1,0.0,4.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,27.0
2017-04-18 11:40:00,1,3.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,27.0
2017-04-18 11:45:00,1,4.0,2.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,28.0
2017-04-18 11:50:00,0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,24.0
2017-04-18 11:55:00,1,3.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,36.0
2017-04-18 12:00:00,1,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-05 13:35:00,0,1.0,1.0,0.0,40.0,0.0,0.0,0.0,1.0,0.0,0.0,50.0
2017-05-05 13:40:00,0,1.0,3.0,0.0,4.0,0.0,0.0,0.0,1.0,1.0,0.0,20.0
2017-05-05 13:45:00,1,0.0,1.0,0.0,11.0,0.0,0.0,0.0,2.0,0.0,0.0,22.0
2017-05-05 13:50:00,1,1.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0,1.0,1.0,19.0
2017-05-05 13:55:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0
2017-05-05 14:00:00,0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
2017-05-05 14:05:00,0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,9.0
2017-05-05 14:10:00,0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,17.0
2017-05-05 14:15:00,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,11.0
2017-05-05 14:20:00,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0
2017-05-05 14:25:00,0,8.0,0.0,1.0,2.0,0.0,0.0,1.0,2.0,1.0,0.0,22.0
2017-05-05 14:30:00,1,3.0,0.0,0.0,3.0,1.0,0.0,0.0,1.0,1.0,0.0,13.0
2017-05-05 14:35:00,1,3.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,11.0
2017-05-05 14:40:00,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2017-05-05 14:45:00,0,4.0,1.0,0.0,2.0,0.0,0.0,0.0,3.0,1.0,0.0,15.0
2017-05-05 14:50:00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
2017-05-05 14:55:00,0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,15.0
2017-05-05 15:00:00,1,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
2017-05-05 15:05:00,0,11.0,0.0,0.0,1.0,0.0,0.0,0.0,8.0,0.0,0.0,19.0
2017-05-05 15:10:00,0,10.0,1.0,3.0,4.0,0.0,0.0,0.0,7.0,1.0,2.0,26.0
2017-05-05 15:15:00,0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,16.0
2017-05-05 15:20:00,0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,9.0
2017-05-05 15:25:00,0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,15.0
2017-05-05 15:30:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0
2017-05-05 15:35:00,0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0
2017-05-05 15:40:00,1,2.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,13.0
2017-05-05 15:45:00,0,3.0,2.0,2.0,1.0,0.0,0.0,0.0,1.0,3.0,1.0,11.0
2017-05-05 15:50:00,0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,13.0
2017-05-05 15:55:00,1,4.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,11.0
2017-05-05 16:00:00,0,5.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,10.0

AUC plotting function

In [23]:
import matplotlib
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
%matplotlib inline

def plotUnivariateROC(preds, truth, label_string):
    #1. call the roc_curve function to get the ROC X and Y values
    fpr, tpr, thresholds = roc_curve(truth, preds)
    #2. Input fpr and tpr into the auc function to get the AUC
    roc_auc = auc(fpr, tpr)
    #we are doing this as a special case because we are sending unfitted predictions into the function
    if roc_auc < 0.5:
        fpr, tpr, thresholds = roc_curve(truth, -1 * preds)
        roc_auc = auc(fpr, tpr)
        print('Warning:{} is worse than random!'.format(label_string))
    #chooses a random color for plotting
    c = (np.random.rand(), np.random.rand(), np.random.rand())
    #create a plot and set some options
    plt.plot(fpr, tpr, color = c, label = label_string + ' (AUC = %0.3f)' % roc_auc)
    

    plt.plot([0, 1], [0, 1], 'k--')
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.0])
    plt.xlabel('FPR')
    plt.ylabel('TPR')
    plt.title('ROC')
    plt.legend(loc="lower right")
    
    return roc_auc

Train and fit the data to Model

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import confusion_matrix, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import KFold

BOAData_shuf=BOAData.reindex(np.random.permutation(BOAData.index))
kfolds = KFold(BOAData_shuf.shape[0], n_folds = 5)
X = BOAData_shuf.drop('Target', 1)
Y =  BOAData_shuf['Target']

#1st, set up a paramater grid
param_grid_lr = {'min_samples_split':[20*i for i in range(1, 10)], 'min_samples_leaf':[i*2 for i in range(1, 10)]}

#2nd, call the GridSearchCV class, use LogisticRegression and 'log_loss' for scoring
lr_grid_search = GridSearchCV(DecisionTreeClassifier(), param_grid_lr, cv = kfolds, scoring = 'roc_auc') 
lr_grid_search.fit(X, Y)

best_1 = lr_grid_search.best_score_
print(best_1)

E:\Study\Python\Anaconda03\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
E:\Study\Python\Anaconda03\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

0.5417323118544151

In [37]:
param_grid_lr = {'C':[10**i for i in range(-10, 10)], 'penalty':['l1','l2']}

#2nd, call the GridSearchCV class, use LogisticRegression and 'log_loss' for scoring
lr_grid_search = GridSearchCV(LogisticRegression(), param_grid_lr, cv = kfolds, scoring = 'roc_auc') 
lr_grid_search.fit(X, Y)

best_1 = lr_grid_search.best_score_
print(best_1)

0.5145479321760843

In [ ]:
param_grid_lr = {'C':[10**i for i in range(-10, 10)], 'kernel':['linear']}

#2nd, call the GridSearchCV class, use LogisticRegression and 'log_loss' for scoring
lr_grid_search = GridSearchCV(SVC(), param_grid_lr, cv = kfolds, scoring = 'roc_auc') 
lr_grid_search.fit(X, Y)

best_1 = lr_grid_search.best_score_
print(best_1)